*.class
*.log

# npm
node_modules/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.classpath
.project
.settings
bin/

# IDEA specific
.idea
*.iml

# Added for IBM Cloud
/target
/.m2

/caches
/local.properties
.*.swp
.DS_Store
/src/main/liberty/config/server.env

src/main/liberty/config/server.env
src/main/resources/localdev-config.json
